In [6]:
from db_utils3 import DataTransform, load_local_data_to_dataframe, RDSDatabaseConnector
import pandas as pd


file_path = 'loan_payments_data.csv'
dataframe = load_local_data_to_dataframe(file_path)

dataframe_transform_instance = DataTransform(dataframe)

# not working so far, getting a value error
# could check all unique values in the columns
# should check if null values cause an error
# last_payment_date has 0.001346 missing values, next_payment_date has 60%, last_credit_pull_date has 0.000129

#dataframe_converted = dataframe_transform_instance.convert_string_to_date(['issue_date', 'earliest_credit_line', 'last_payment_date', 'next_payment_date', 'last_credit_pull_date'])

# for testing, printing out unique names in issue_date to check if format is consistent
unique_dates = dataframe['issue_date'].unique()
print(unique_dates)


# try with only columns which have 100% non null values like only with issue_date
#dataframe_converted = dataframe_transform_instance.convert_string_to_date(['issue_date'])
#print(dataframe_converted)

dataframe_converted = pd.to_datetime(dataframe['issue_date'], format='%b-%Y', errors='coerce')


print("\nConverted issue_date column: \n")
print(dataframe_converted.tail(50))

# IT HOLY FOKEN WORKED !!!

['Jan-2021' 'Dec-2019' 'Nov-2019' 'Oct-2019' 'Sep-2019' 'Aug-2019'
 'Dec-2017' 'Nov-2017' 'Sep-2017' 'Jul-2017' 'Oct-2017' 'Aug-2017'
 'Jun-2017' 'May-2017' 'Mar-2017' 'Apr-2017' 'Feb-2017' 'Oct-2016'
 'Jul-2016' 'Jun-2016' 'May-2016' 'Feb-2016' 'Jan-2016' 'Dec-2015'
 'Sep-2015' 'Aug-2015' 'Jan-2017' 'Dec-2016' 'Nov-2016' 'Sep-2016'
 'Aug-2016' 'Apr-2016' 'Mar-2016' 'Nov-2015' 'Oct-2015' 'Jul-2015'
 'Jun-2015' 'Feb-2015' 'May-2015' 'Apr-2015' 'Aug-2014' 'Mar-2015'
 'Apr-2014' 'Jan-2015' 'Dec-2014' 'Nov-2014' 'Oct-2014' 'Sep-2014'
 'Jul-2014' 'Jun-2014' 'May-2014' 'Mar-2014' 'Feb-2014' 'Jan-2014'
 'Dec-2013' 'Nov-2013' 'Oct-2013' 'Sep-2013' 'Aug-2013' 'Jul-2013'
 'Jun-2013']

Converted issue_date column:

54181   2013-08-01
54182   2013-08-01
54183   2013-08-01
54184   2013-08-01
54185   2013-08-01
54186   2013-08-01
54187   2013-08-01
54188   2014-05-01
54189   2013-08-01
54190   2013-09-01
54191   2013-08-01
54192   2013-08-01
54193   2013-08-01
54194   2013-08-01
54195   2013-08-01
54196   2013-07-01
54197   2013-07-01
54198   2013-08-01
54199   2014-07-01
54200   2013-07-01
54201   2013-07-01
54202   2013-08-01
54203   2013-12-01
54204   2013-08-01
54205   2013-08-01
54206   2013-07-01
54207   2013-07-01
54208   2013-07-01
54209   2013-07-01
54210   2013-07-01
54211   2013-07-01
54212   2013-07-01
54213   2013-08-01
54214   2013-07-01
54215   2013-07-01
54216   2013-07-01
54217   2013-07-01
54218   2013-07-01
54219   2013-07-01
54220   2013-07-01
54221   2015-07-01
54222   2013-07-01
54223   2013-06-01
54224   2013-06-01
54225   2013-08-01
54226   2013-07-01
54227   2013-10-01
54228   2013-08-01
54229   2013-08-01
54230   2013-07-01
Name: issue_date, dtype: datetime64[ns]